body{
    background-color: lightgrey;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin: 0px;
}
.hbar1{
    display: inline;
    margin: 15px;
}
hr{
    border-style: none;
}

.main-body{
    padding: 70px 0px !important;
}

h1{
   text-align: center;
}

table{
    border-collapse: collapse;
}

th, td{
    padding: 5px;
}

.navbar{
    position: fixed !important;
    width: 100%;
    z-index: 99999;
}

.bg-navbar{
    background-color: steelblue !important;
}

.bg-light{
    border: solid 1px grey;
    padding: 20px;
}

.account-img{
    height: 150px;
    width: 150px;
}
.media-body{
    padding-left: 20px;
}