{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Books Management About page{% endblock %}</title>
</head>
<body>
{% block body_block %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">About <span class="font-weight-bold">Books Management</span></legend>
    </fieldset>
    <div class="form-group">
        <p>Your lucky number is {{ mynum }}</p>
    </div>

    <div class="border-top pt-3">
        <small class="text-muted">
            <a class="ml-2" href="{%  url 'myapp:index' %}">Home page</a>
        </small>
    </div>
{% endblock %}
</body>
</html>