<!DOCTYPE html>
{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block body_block %}

        {% if avg != 0 %}
            <p>Average book ratings : {{ avg }}</p>
        {% else %}
            <p>No book reviews</p>
        {% endif %}
        <form method="POST">
        {% csrf_token %}
{#        <input type="hidden" name="next" value="{{ request.path }}">#}
{#        <p>{{ request.path }}</p>#}
        </form>
    {% endblock %}
</body>
</html>