{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
    {% if book %}
    <fieldset class="form-group">
         <legend class="border-bottom mb-4">Details of Book <span class="font-weight-bold">{{ book.title }}</span></legend>
    </fieldset>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Price($)</th>
            <th>Publisher</th>
            <th>Category</th>
            <th>Num pages</th>
            <th>Num reviews</th>
        </tr>
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.publisher.name }}</td>
            <td>{{ book.category }}</td>
            <td>{{ book.num_pages }}</td>
            <td>{{ book.num_reviews }}</td>
        </tr>
    </table>
    {% endif %}
    <br>
    <div class="border-top pt-3">
        <small class="text-muted">
            <p><a href="{% url 'myapp:index' %}">List of books</a></p>
        </small>
    </div>
{% endblock %}
