{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}

{% block body_block %}
{% if booklist %}
    <fieldset class="form-group">
         <legend class="border-bottom mb-4">List of Books</legend>
    </fieldset>
    <div class="form-group">
    <ol>
        {% for book in booklist %}
            <li><a href="{% url 'myapp:detail' book.id %}">{{ book.title }}</a></li>
        {% endfor %}
    </ol>

{% else %}
    <strong>There are no available books!</strong>

{% endif %}

    {% if request.session.username %}
        {% if request.session.last_login  %}
            <p>Last Login : {{ request.session.last_login }}</p>
        {% else %}
            <p>Your last login was more than one hour ago</p>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}
