<!DOCTYPE html>
{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block body_block %}
        Hello, order response
        <ul>
        {% if order_list.count > 0 %}
            {% for order in order_list %}
                <li>{{ order.borrowed_books__title }}</li>
            {% endfor %}
        {% else %}
            <li>You haven't placed any order!</li>
        {% endif %}
        </ul>
    {% endblock %}
</body>
</html>