{#<!DOCTYPE html>#}
{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}

    {% block body_block %}
        <div class="content-section">
            <form method="POST">
                {%  csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Join Today</legend>
                    {{ form | crispy }}
{#                    {{ form.as_p }}#}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already have an Account? <a clas="ml-2" href="{% url 'myapp:user_login' %}">Sign In</a>
                </small>
            </div>
        </div>
{#         <form action="{% url 'myapp:user_register' %}" method="post">#}
{#            {% csrf_token %}#}
{#            Username: <input type="text" name="username"><br>#}
{#            Password: <input type="password" name="password"><br>#}
{#            Repeate Password: <input type="password" name="password"><br>#}
{#            <input type="submit" name="Submit" value="Register">#}
{#         </form>#}

    {% endblock %}
{#</body>#}
{#</html>#}